*{
  margin: 0;
  padding: 0;
}
:root{
  --first-color:#001F3F;  
  --second-color:#333333;
  --third-color:#F5F5F5;
  --forth-color:#007BFF;
  --fifth-color:#C8A2C8;
  --six-color:#D4AF37;
  --seven-color: #40E0D0;
}